@media 
    (min-width: 240px) and 
    (max-width: 320px) and
    (min-height: 300px) and
    (max-height: 450px) and
    (-webkit-device-pixel-ratio: 1) {
    
    .logo-navbar {
        width: 120px;
        height: 20px;
        object-fit: cover;
    }

    .flash-container .alert-message {
        text-align: center;
        width: 100%;
        line-height: 1.15;
        font-size: 8.5px; 
        padding: 0 18px;   
    }

    .flash-container .btn-close {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        font-size: 6px;   
    }

    .tagline-glow {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        padding: 12px 20px;
        width: fit-content;
        margin: 0 auto;
        margin-top: -20px;
        margin-bottom: -20px;
        text-shadow: 0 0 6px rgba(255,255,255,0.4);
        letter-spacing: .5px;
    }

    .auth-card h2 {
        font-size: 18px;
        font-weight: 600;
    }

    .auth-card .form-label-custom {
        font-size: 11px;
        font-weight: 500;
    }

    .auth-card .form-control {
        font-size: 12px;
        padding: 6px 8px;
    }

    .auth-card small {
        font-size: 10px;
    }

    .auth-card .btn-ouline-custom {
        font-size: 11px;
        padding: 5px 8px;
    }

    .auth-card .btn-primary {
        font-size: 13px;
        padding: 7px;
    }

}