.card-body {
    font-size: clamp(0.75rem, 1.2vw, 1rem);
    background-color:rgba(255, 255, 255, 0.90);
}

.card-body h3 {
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    font-weight: 600;
}

.card-body h4 {
    font-size: clamp(1rem, 1.8vw, 1.4rem);
}

.card-body h5 {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

.card-body p {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

@media 
    (min-width: 240px) and 
    (max-width: 320px) and
    (min-height: 300px) and
    (max-height: 450px) and
    (-webkit-device-pixel-ratio: 1) {

    .card-body h3 {
        font-size: 18px;
    }

    .card-body h4 {
        font-size: 14px;
    }

    .card-body h5 {
        font-size: 11px;
    }
}
