<div class="modal fade" id="alimentoModal" tabindex="-1" aria-labelledby="alimentoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alimentoModalLabel">Adicionar Alimento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form id="formAdicionarAlimento">
          <div class="mb-3">
            <label for="buscaAlimento" class="form-label fw-bold">Buscar Alimento</label>
            <select id="buscaAlimento" placeholder="Digite o nome do alimento..."></select>
          </div>

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" readonly>
            </div>
            <div class="col-md-3">
              <label class="form-label">Porção (g)</label>
              <input type="number" class="form-control" id="porcao" name="porcao" min="1" value="100">
            </div>
          </div>

          <hr>

          <div class="row g-3">
            <div class="col-md-3">
              <label class="form-label">Calorias</label>
              <input type="number" class="form-control" id="calorias" name="calorias" readonly>
            </div>
            <div class="col-md-3">
              <label class="form-label">Proteínas (g)</label>
              <input type="number" class="form-control" id="proteinas" name="proteinas" readonly>
            </div>
            <div class="col-md-3">
              <label class="form-label">Carboidratos (g)</label>
              <input type="number" class="form-control" id="carboidratos" name="carboidratos" readonly>
            </div>
            <div class="col-md-3">
              <label class="form-label">Gorduras (g)</label>
              <input type="number" class="form-control" id="gorduras" name="gorduras" readonly>
            </div>
          </div>
        </form>
        <div id="scanner-container" class="mt-3" style="display:none;">
          <div id="reader" style="width:100%; max-width:400px; margin:auto;"></div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-success" id="btnLerCodigo">📷 Ler Código de Barras</button>
        <button type="button" class="btn btn-primary" id="btnAdicionarAlimento">Adicionar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/barcode.js') }}"></script>