<div class="modal fade" id="modalRegistrarAgua" tabindex="-1" aria-labelledby="modalRegistrarAguaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegistrarAguaLabel">Registrar Água</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <label for="input-agua" class="form-label-custom">Quantidade de água (ml)</label>
          <input type="number" id="input-agua" class="form-control" placeholder="Ex: 250">
          <small id="erro-agua" class="text-danger d-none"></small>
        </div>
        <div class="modal-footer">
          <button id="btnRegistrarAgua" class="btn btn-primary">Registrar</button>
        </div>
    </div>
  </div>
</div>