/* Reset e configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #212529;
    color: #333;
}

.logo-navbar {
    height: 70px;
    width: 235px;
    object-fit: cover;
}