/* Reset e configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #212529;
    color: #333;
}

.logo-navbar {
    width: clamp(160px, 30vw, 235px);
    height: clamp(55px, 9vw, 70px);
    object-fit: cover;
}
