/* Estilização de botões, formulários, etc */

.btn-primary {
    background-color: #1ea7d1;
    border: none;
}

.btn-primary:hover {
    background-color: #168aad;
}

.form-control {
    border-radius: 5px;
}

.center-form {
    display: flex;
    justify-content: center;
}

.tagline-glow {
    color: #fff;
    font-size: clamp(1rem, 2.5vw, 1.45rem);
    font-weight: 500;
    text-align: center;
    padding: 12px 20px;
    width: fit-content;
    margin: 0 auto;
    text-shadow: 0 0 6px rgba(255,255,255,0.4);
    letter-spacing: .5px;
}

.form-label-custom {
    font-weight: 500;
    color: #333333;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    display: inline-block;
}

.text-muted-custom {
    color: #6c757d;
    font-size: 0.9rem;
    font-style: italic;

}

.btn-ouline-custom {
    border: 2px solid #333333;
    color: #1ea7d1;
    background-color: transparent;
    font-weight: 600;
    border-radius: 6px;
    padding: 7px 15px;
    font-size: 0.93rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-ouline-custom:hover {
    background-color: #6c757d;
    color: #fff;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.lucide-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-label {
    color: #f8f9fa;
    font-weight: 500;
    font-size: 0.85rem;
    margin-top: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.flash-container {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
}

.flash-container .alert {
    padding: 0.95rem 1rem;
    border-radius: 8px;
}

.invisible-placeholder {
  width: 238px; 
}