/* Classes utilitárias */

.text-center {
    text-align: center;
}

.mt-50 {
    margin-top: 50px;
}

.rounded {
    border-radius: 10px;
}

.text-color {
    color: #1a74e2;
    font-size: 0.68rem;
}