<div class="center-form align-items-center ">
    <div class="card p-4 shadow" style="max-width: 400px; width:100%; background-color:rgba(255, 255, 255, 0.95); border-radius:15px;">
        <h2 class="text-center mb-4 text-dark">Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.usuario.label(class="form-label-custom") }}
                {{ form.usuario(class="form-control", placeholder="Informe seu usuário") }}
            </div>

            <div class="mb-3">
                {{ form.senha.label(class="form-label-custom") }}
                {{ form.senha(class="form-control", placeholder="Informe sua senha") }}
            </div>

            <div class="mb-3 text-center">
                <small class="text-muted-custom">Ainda não tem uma conta?</small><br>
                <a class="btn btn-ouline-custom mt-2" href="{{ url_for('auth.cadastro') }}">Cadastre-se</a>
            </div>

            <div class="d-grid">
                {{ form.submit(class="btn btn-primary btn-lg") }}
            </div>
        </form>
    </div>
</div>
